










/* ---------------------------------------- ######### loading side ######### ----------------------------------------*/

.load_page img{
  box-shadow: none;
}

.load_page {
  position: fixed;
  text-align: center;
  background-color: black;
  height: 100%;
  width: 100%;
  margin-top: 200px;
  left: 0;
  z-index: 1;
  -webkit-animation: load-out 1s;
  animation: load-out 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes load-out {
  from {
      top: 0;
      opacity: 1;
  }

  to {
      bottom: 100%;
      opacity: 0;
  }
}

@keyframes load-out {
  from {
      top: 0;
      opacity: 1;
  }

  to {
      bottom: 100%;
      opacity: 0;
  }
}

/* inspo: https://stackoverflow.com/questions/244183/how-to-display-a-loading-screen-while-site-content-loads */

